.footer
  display: flex
  align-items: center
  background-color: #394757
  height: 150px
  position: relative
  @include res('mob')
    height: 310px
  .footer_wrap
    display: flex
    align-items: center
    @include res('mob')
      flex-direction: column

.footer__nav
  height: 50px
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-evenly
  align-items: center
  li
    padding-left: 40px
  a
    color: #fff
    text-decoration: none
    font-size: 16px
    text-transform: uppercase
    font-family: "OpenSans"
    font-weight: 400
    &:hover
      cursor: pointer
      color: #7b9bc1
      transition: .3s
  @include res('tab')
    flex-direction: column
    justify-content: center
    li
      padding-left: 0
    line-height: 1.5
  @include res('mob')
    flex-direction: column
    justify-content: center
    height: 140px
    li
      padding-left: 0
    a
      font-size: 13px
      font-weight: 400
.footer__contact-position
  display: flex
